*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Palette */
  --main: #5cdb98;
  --header: #379683;
  --sidebar: #05386b;
  --highlight: #fff;
  /* Positions */
  --main-width: 100vw;
  --sidebar-left: -40vw;
  --sidebar-angle: rotate(0deg);
  --button-rotation: rotate(90deg);
}

body {
  margin: 0;
  color: #fff;
  background: var(--header);
}

#root,
header,
main,
aside,
nav {
  display: flex;
  flex-direction: column;
}

nav {
  transform: rotate(-3deg);
}

#root {
  width: 100vw;
  height: 100vh;
}

header {
  align-items: flex-end;
  align-self: flex-end;
  justify-content: center;
  width: var(--main-width); /* var(--main-width)*/
  height: 10%;
  background: var(--header);
  transition: width 1s;
}

button {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: var(--sidebar);
  padding: 0px;
  color: var(--highlight);
  transform: var(--button-rotation);
  transition: transform 1s, color 1s;
  cursor: pointer;
}

main {
  color: var(--sidebar);
  background: var(--main);
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: var(--main-width); /* var(--main-width)*/
  height: 100%;
  transition: width 1s;
}

span {
  color: var(--highlight);
  transition: color 1s;
}

aside {
  align-items: center;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  left: var(--sidebar-left);
  width: 40vw;
  height: 100vh;
  background: var(--sidebar);
  transform: var(--sidebar-angle);
  transition: left 1s, transform 0.5s, box-shadow 1.5s;
  box-shadow: var(--box-shadow);
}

a {
  color: #fff;
}

.sidebar--active {
  --highlight: #f4870b;
  --box-shadow: 0 0 20px 0 black;
  /* Positions */
  --main-width: 60vw;
  --sidebar-left: 0;
  --sidebar-angle: rotate(3deg);
  --button-rotation: rotate(270deg);
}
