@import "base.css";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

.wrapper {
  width: 100vw;
  height: 100vh;
  background: lightpink;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
  color: #2f2f2f;
}

.snowflake {
  width: var(--width);
  height: var(--width);
  position: absolute;
  border-radius: 50%;
  transition: top 1s, left 1s, width 1s, height 1s, background 1s;
}

img {
  width: 10em;
  border-radius: 50% 50% 50% 25%;
  box-shadow: 0 0 20px 0 #2f2f2f;
  z-index: 1;
  animation: borderTurn 2s infinite;
}

@keyframes borderTurn {
  25% {
    border-radius: 50% 50% 25% 50%;
    transform: rotate(-5deg);
  }
  50% {
    border-radius: 50% 50% 50% 25%;
  }
  75% {
    border-radius: 50% 50% 25% 50%;
    transform: rotate(5deg);
  }
}

.link-wrap {
  display: flex;
  gap: 2em;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  font-size: 1.1em;
}

.fab {
  font-size: 2em;
  cursor: pointer;
  color: #2f2f2f;
  transition: opacity 0.5s;
}

.fab:hover {
  opacity: 0.5;
}
